.card-img-top {
    height: 20rem;
    width: auto
}

.github-btn {

    background-color: white;

    color: purple;

    border-color: purple;

}

.github-btn:hover,
.github-btn:focus,
.github-btn:active,
.github-btn.active,
.open .dropdown-toggle.btn-default {

    background-color: purple;

    color: white;

    border-color: purple;

}

.homepage-btn {
    color: #0d6efd
}

.homepage-btn:hover,
.homepage-btn:focus,
.homepage-btn:active {
    border-color: white;
    color: #0d6efd;
    text-decoration-line: underline;
}